body {
    margin: 0;
    background: #f7f7f8;
    font-family: Arial, sans-serif;
}

.chat-wrapper {
    width: 60%;
    max-width: 800px;
    height: 90vh;
    margin: auto;
    margin-top: 20px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chat-header {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    text-align: center;
    background: #ffffff;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.bot-message {
    max-width: 75%;
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.user-message {
    max-width: 75%;
    background: #f5f3f3;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    line-height: 1.5;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #000000;
    background: #2c2727;
}

.chat-input input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #000000;
    font-size: 14px;
}

.chat-input button {
    margin-left: 10px;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #10a37f;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

.chat-input button:hover {
    background: #0e8c6a;
}
